version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.3.0

jobs:
  build:
    docker:
      - image: cimg/node:20.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Build application
          command: npm run build
      - sonarcloud/scan

  test:
    docker:
      - image: cimg/node:20.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Run tests
          command: npm test -- --coverage --watchAll=false

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test

